/* App.css */
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.square {
  position: relative; /* Permet la position absolue de l'indicateur */
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.square:hover {
  background-color: #f0f0f0;
}

.info {
  margin-top: 20px;
  font-size: 20px;
}

.reset-button, .start-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.launch-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.launch-screen h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.launch-screen h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

.indicator {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 16px;
  color: red;
  font-weight: bold;
}
